nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 15px;
}
.posicion-boton {
  position: relative;
  bottom: 10px;
}
.button {
  position: relative;
  left: 555px;
  width: 120px;
}
