<div class="container-fluid">
  <nav>
    <button class="cerrarSesion" (click)="cerrarSesion()">Cerrar Sesión</button>
  </nav>
  <div class="posicion-img">
    <img src="https://i.ytimg.com/vi/8SnPOl1eiGs/maxresdefault.jpg">
    <img src="https://i.ytimg.com/vi/8SnPOl1eiGs/maxresdefault.jpg">
  </div>
  <div class="altura-boton">

    <div class="posicion-botones">
      <button type="button" class="boton-default" (click)="nuevaPartida()">Nueva Partida</button>
      <button type="button" class="boton-default" (click)="listadoPartidas()">Partidas sin finalizar</button>
      <button type="button" class="boton-default" (click)="reportes()">Reportes</button>
    </div>
  </div>
</div>
